:root{
    --cor-primaria: #f1d7b8; /* 60% */
    --cor-secundaria: #4b2a1a; /* 30¨*/
    --cor-terciaria: #c6ceae; /* 10% */
    --detalhamento: #3d1e0f; /* algumas cores que precisam diferenciar */
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    /*overflow: hidden;  tira o scroll da tela */
}

/* tirar o scrool da tela*/
html{
    height: 100%;
    margin: 0; /* margem total do site */
} 

main{
    background: #f1d7b8;
    background-size: cover;
    width: 100%;
    height: 92vh;
    flex: 1px;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden; /* para sumir o scroll lateral da tela */
}

.slider-content{
    width: 400%; /* tamanho das imagens 500% me agrada. verificar quando colocar as imagens real */
    height: auto;
    margin-top: 5%;
    display: flex;
}

.slider-content input, .img-mobile{ /* como eu coloquei o img mobile, elas tambem somem da tela */
    display: none; /* esconde os inputs */
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{ /* button radio */
    position: absolute;
    width:100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}


.nav-manual .manual-btn, .nav-auto div{ /* button radio */
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

/* o last child significa que eu quero que menos o ultimo button não tenha o mesmo estilo que as outras bolinhas */
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){ /* aqui temos a nav tanto manual quanto automatico para interagir com o js */
    margin-right: 10px; /* espaçamento entre os botões */

}

.nav-manual .manual-btn:hover{ /* efeito de quando passar o mouse por cima do button */
    background: var(--cor-secundaria);
    color: var(--cor-primaria);
}

/* sempre que o radio estiver marcado, ele muda o background para o outro radio */
#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3{
    background: var(--cor-secundaria);
}

/* passagem de uma imagem para a outra */
#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none; /* esconde as imagens desktop */
    }

    .img-mobile{
        display: block; /* mostra as imagens mobile */
    }

    .nav-auto, .nav-manual{
        margin-top: 60%; /* muda a posição dos botões para baixo */
    }

    .img-card, .img-user{
        width: 40%; /* diminui o tamanho das imagens */
    }

    .logo{
        font-size: 20px; /* diminui o tamanho da logo */
        letter-spacing: 20px; /* diminui o espaçamento entre as letras */
    }

}